body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #63e4ea;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.column {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.column img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

h2 {
    margin-top: 0;
    color: #333;
}

p {
    color: #666;
}

a {
    color: #007BFF;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
}
